$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'brown';
  font-weight: 300;
  font-style: normal;
  src: url($font_path+'lineto-brown-pro-light.eot');
  src: url($font_path+'lineto-brown-pro-light.woff2') format('woff2'),
    url($font_path+'lineto-brown-pro-light.woff') format('woff');
}

@font-face {
  font-family: 'brown';
  font-weight: 400;
  font-style: normal;
  src: url($font_path+'lineto-brown-pro-regular.eot');
  src: url($font_path+'lineto-brown-pro-regular.woff2') format('woff2'),
    url($font_path+'lineto-brown-pro-regular.woff') format('woff');
}

@font-face {
  font-family: 'brown';
  font-weight: 800;
  font-style: normal;
  src: url($font_path+'lineto-brown-pro-bold.eot');
  src: url($font_path+'lineto-brown-pro-bold.woff2') format('woff2'),
    url($font_path+'lineto-brown-pro-bold.woff') format('woff');
}
